In [4]:
import pandas as pd

In [49]:
# read the csv-files:

X_train_df = pd.read_csv("training_set_features.csv")
y_train_df = pd.read_csv("training_set_labels.csv")
X_test_df = pd.read_csv("test_set_features.csv")

#X_train_df.shape
# Output:
# (26707, 36)

#X_test_df.shape
# out:
# (26708, 36)

In [20]:
X_train_df.head(3)

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo

### Missing Values ###

In [ ]:
# missing values:

print(X_train_df.isna().sum().sum())
print(X_train_df.dropna(axis=0).shape)
# Output:
# 60762
# (6437, 36)
# so there are some missing values and dropping incomplete rows is not an option.

# Rows without respondent_id are useless though:
#X_train_df["respondent_id"].isna().sum()
# out: 0

# Missing labels are also useless:
#print(y_train_df.isna().sum().sum())
# out: 0

# check the test-set:
print(X_test_df.isna().sum().sum())
print(X_test_df.dropna(axis=0).shape)
# Output:
# 60551
# (6499, 36)
# so whatever we do with the missing values has to be done for the test-set as well.

In [21]:
# onehot encoding categorical columns:

categorial_columns = ["h1n1_concern", "h1n1_knowledge", "opinion_h1n1_vacc_effective", "opinion_h1n1_risk", "opinion_h1n1_sick_from_vacc",
"opinion_seas_vacc_effective", "opinion_seas_risk", "opinion_seas_sick_from_vacc", "age_group", "education", "race", "sex", "income_poverty", "marital_status",
"rent_or_own", "employment_status", "hhs_geo_region", "census_msa", "household_adults", "household_children", "employment_industry", "employment_occupation"]

binary_columns = ["h1n1_concern", "h1n1_knowledge", "behavioral_antiviral_meds", "behavioral_avoidance", "behavioral_face_mask", "behavioral_wash_hands", 
"behavioral_large_gatherings", "behavioral_outside_home", "behavioral_touch_face", "doctor_recc_h1n1", "doctor_recc_seasonal",	"chronic_med_condition",
"child_under_6_months",	"health_worker", "health_insurance"]

In [50]:
# fill missing values with 0 for all binary columns:

#X_train_df[binary_columns] = X_train_df[binary_columns].fillna(0)
#X_test_df[binary_columns] = X_test_df[binary_columns].fillna(0)

In [54]:
# categorial one-hot-encoding with drop first and dummy-variable for missing values:

#X_train_df = pd.concat([X_train_df, pd.get_dummies(X_train_df[categorial_columns], drop_first=True, dummy_na=True)], axis=1)
#X_train_df.drop(categorial_columns, axis=1, inplace=True)

#X_test_df = pd.concat([X_test_df, pd.get_dummies(X_test_df[categorial_columns], drop_first=True, dummy_na=True)], axis=1)
#X_test_df.drop(categorial_columns, axis=1, inplace=True)

In [55]:
X_train_df.head(3)

,respondent_id,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,doctor_recc_h1n1,doctor_recc_seasonal,...,employment_occupation_rcertsgn,employment_occupation_tfqavkke,employment_occupation_ukymxvdu,employment_occupation_uqqtjvyb,employment_occupation_vlluhbov,employment_occupation_xgwztkwe,employment_occupation_xqwwgdyp,employment_occupation_xtkaffoo,employment_occupation_xzmlyyjv,employment_occupation_nan
0,26707,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,26708,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1,0,0,0
2,26709,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

### Models to Consider: ###
1. logistic regression, (polynomial features: does this make sense if we only have 0,1 values?) <br>
2. Support Vector Machine with RBF <br>
3. Random Forrest / XGBoost <br>
4. FC neural net <br>
<br>

In [ ]:
# Column overview:
"""
X_train_df.columns

Index(['respondent_id', 'behavioral_antiviral_meds', 'behavioral_avoidance',
       'behavioral_face_mask', 'behavioral_wash_hands',
       'behavioral_large_gatherings', 'behavioral_outside_home',
       'behavioral_touch_face', 'doctor_recc_h1n1', 'doctor_recc_seasonal',
       'chronic_med_condition', 'child_under_6_months', 'health_worker',
       'health_insurance', 'age_group_35 - 44 Years',
       'age_group_45 - 54 Years', 'age_group_55 - 64 Years',
       'age_group_65+ Years', 'age_group_nan', 'education_< 12 Years',
       'education_College Graduate', 'education_Some College', 'education_nan',
       'race_Hispanic', 'race_Other or Multiple', 'race_White', 'race_nan',
       'sex_Male', 'sex_nan', 'income_poverty_> $75,000',
       'income_poverty_Below Poverty', 'income_poverty_nan',
       'marital_status_Not Married', 'marital_status_nan', 'rent_or_own_Rent',
       'rent_or_own_nan', 'employment_status_Not in Labor Force',
       'employment_status_Unemployed', 'employment_status_nan',
       'hhs_geo_region_bhuqouqj', 'hhs_geo_region_dqpwygqj',
       'hhs_geo_region_fpwskwrf', 'hhs_geo_region_kbazzjca',
       'hhs_geo_region_lrircsnp', 'hhs_geo_region_lzgpxyit',
       'hhs_geo_region_mlyzmhmf', 'hhs_geo_region_oxchjgsf',
       'hhs_geo_region_qufhixun', 'hhs_geo_region_nan',
       'census_msa_MSA, Principle City', 'census_msa_Non-MSA',
       'census_msa_nan', 'employment_industry_atmlpfrs',
       'employment_industry_cfqqtusy', 'employment_industry_dotnnunm',
       'employment_industry_fcxhlnwr', 'employment_industry_haxffmxo',
       'employment_industry_ldnlellj', 'employment_industry_mcubkhph',
       'employment_industry_mfikgejo', 'employment_industry_msuufmds',
       'employment_industry_nduyfdeo', 'employment_industry_phxvnwax',
       'employment_industry_pxcmvdjn', 'employment_industry_qnlwzans',
       'employment_industry_rucpziij', 'employment_industry_saaquncn',
       'employment_industry_vjjrobsf', 'employment_industry_wlfvacwt',
       'employment_industry_wxleyezf', 'employment_industry_xicduogh',
       'employment_industry_xqicxuve', 'employment_industry_nan',
       'employment_occupation_ccgxvspp', 'employment_occupation_cmhcxjea',
       'employment_occupation_dcjcmpih', 'employment_occupation_dlvbwzss',
       'employment_occupation_emcorrxb', 'employment_occupation_haliazsg',
       'employment_occupation_hfxkjkmi', 'employment_occupation_hodpvpew',
       'employment_occupation_kldqjyjy', 'employment_occupation_mxkfnird',
       'employment_occupation_oijqvulv', 'employment_occupation_pvmttkik',
       'employment_occupation_qxajmpny', 'employment_occupation_rcertsgn',
       'employment_occupation_tfqavkke', 'employment_occupation_ukymxvdu',
       'employment_occupation_uqqtjvyb', 'employment_occupation_vlluhbov',
       'employment_occupation_xgwztkwe', 'employment_occupation_xqwwgdyp',
       'employment_occupation_xtkaffoo', 'employment_occupation_xzmlyyjv',
       'employment_occupation_nan'],
      dtype='object')

"""

In [ ]:
# train test split:
from sklearn.model_selection import train_test_split

X_train_np, X_test_np, y_train_np, y_test_np = train_test_split(X_train_df.iloc[:,1:].to_numpy(), y_train_df.iloc[:,1:].to_numpy(), test_size=0.2, shuffle=True)

# output types are numpy.ndarray

#### Logistic Regression ####

In [ ]:
# logistic regression

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

y_train_h1n1 = y_train_np[:,:1]
y_train_sesonal = y_train_np[:,1:]
y_test_h1n1 = y_test_np[:,:1]
y_test_sesonal = y_test_np[:,1:]

random_seed = 0
h1n1_clf = LogisticRegression(random_state = random_seed).fit(X_train_np, y_train_h1n1)
print(f"h1n1 score: {h1n1_clf.score(X_test_np, y_test_h1n1.ravel()):.2}")
y_pred_h1n1 = h1n1_clf.predict_proba(X_test_np)
h1n1_acc = accuracy_score(y_true=y_test_h1n1, y_pred=np.argmax(y_pred_h1n1, axis=1))
print(f"h1n1 accuracy: {h1n1_acc:.2}")

sesonal_clf = LogisticRegression(random_state=random_seed).fit(X_train_np, y_train_sesonal)
print(f"sesonal score: {sesonal_clf.score(X_test_np, y_test_sesonal.ravel()):.2}")
y_pred_sesonal = sesonal_clf.predict_proba(X_test_np)
sesonal_acc = accuracy_score(y_true=y_test_sesonal, y_pred=np.argmax(y_pred_sesonal, axis=1))
print(f"sesonal accuracy: {sesonal_acc:.2}")

# Output:
# h1n1 score: 0.83
# h1n1 accuracy: 0.83
# sesonal score: 0.72
# sesonal accuracy: 0.72
#
# ... plus some warnings that the algorithm did not converge: increase max_iter ...

#### Support Vector Machine ####